#container{
    width: 970px;
    height: 600px;
    padding: 5px;
    border: #1b345d 2px solid;
    background-color: #1b345d;
}

#header{
    border-radius: 10px;
    width: 950px;
    height: 50px;
    margin: 5px;
    border: #cf3036 2px solid;
    background-color: #cf3036;
    color: white;
}

#navbar{
    float: left;
    display: block;
    width: 180px;
    border-radius: 10px;
    margin: 10px;
    font-size: 12px;
    border: #2a7d8c 2px solid;
    background-color: #2a7d8c;
    color: rgba(255, 255, 255, 0.904);
}


#main{
    display: inline-block;
    width: 730px;
    height: 455px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #0e1822;
    color: #bcd2e9;
    border: #0e1822 2px solid;
}

#footer{
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    background-color: #5d6673;
    color: #b7cadf;
    border: #5d6673 2px solid;
}

.blurb{
    padding-left: 10px;
}

.highlight{
    color: #6081ee;
}

a{
    color: #62d4dd
}

p{
    font-size: 12px;
}

h2, h3{
    max-height: 20px;
    margin: 10px;
}